.span6	{
	float: right;
}

h1	{
	color: #F63;
	font-weight: normal;
	margin-top: 65px;
	font-family: 'Days One', sans-serif;
}

p	{
	margin-top:25px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	line-height: 33px;
	color: #333;
	text-align: left;
	margin-bottom: 75px;
	margin-top: 18px;
	
}

h2	{
	margin-top: 110px;
}


.extra	{
	font-weight: lighter;
	font-size: 45px;
	line-height:41px;
	color: #F63;
	margin-top: 100px;
}

a	{
	color: #333;
	font-size: 17px;
	
	
}

.extra_history{
	font-weight: lighter;
	font-size: 45px;
	line-height:41px;
	color: #F63;
	margin-top: 20px;
	margin-left: 34px;
}

.carousel-inner	{
	margin-top: 100px;
	margin-left: -54px;
	
}

.span6 {
	margin-top: -75px;
	
}

.carousel-control.left {
	margin-left: -59px;
	margin-top: 157px;
}

.carousel-control.right	{
	margin-right: 49px;
	margin-top: 157px;
	
}

.uses_para	{
	margin-top:25px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 30px;
	line-height: 40px;
	color: #333;
	text-align: left;
	margin-bottom: 75px;
	margin-top: 18px;
}

.span12	{
	margin-left: -15px;
	margin-top:	30px;
	margin-bottom: 50px;
}

